* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
}

form {
    text-align: center;
    margin: 20px;
}

input {
    padding: 10px;
    width: 300px;
    text-align: center;
    margin: 10px;
}

button {
    padding: 7px;
    width: 100px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}